<h1><%=  @display_user %></h1>
<% @photos.each do |foto, commentArray| %>
    <ul>
    <img class=photo src="/images/<%=foto.file_name%>"><br>
    <b>Comments</b>
    <ul class="boxlisting">
    <% for comment in commentArray %>
        <li><%= render(:partial => "shared/photos",:locals => {:comment => comment["comment"], :user => comment["user"], :userid => comment["userid"]})%></li>
    <% end %>
    <li><a class=actionlist href='/comments/new/<%= foto.id %>'>Comment!</a></li>
    </ul>
    </ul>
<% end %>